asgiref==3.2.3
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.1
django-aggregate-if==0.5
django-session-timeout==0.0.4
django-widget-tweaks==1.4.5
googlemaps==4.0.0
idna==2.8
Pillow==6.2.1
python-decouple==3.3
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
sweetify==2.0.0
urllib3==1.25.7
psycopg2
gunicorn==20.0.4
django-storages==1.9.1
boto3