{% extends 'registration/base_registration.html' %}
{% load widget_tweaks %}

{% block title %} Redefinir Senha {% endblock title %}

{% block content %}

{% if validlink %}

<div class="form-group">
    <div class="col-xs-12">
        <h3>Defina uma nova senha!</h3>
        <p>Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente. </p>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="col-xs-12">
                {% render_field form.new_password1 class="form-control" type="password" placeholder="Nova senha" %}
            </div>
          </div>
            <div class="form-group">
              <div class="col-xs-12">
                  {% render_field form.new_password2 class="form-control" type="password" placeholder="Confirmar senha" %}
              </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Alterar</button>
        </form>
    </div>
</div>

{% else %}

<p>
  O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>

{% endif %}

{% endblock content %}