{% extends 'registration/base_registration.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="form-group ">
    <div class="col-xs-12">
        <h3>E-mail enviado</h3>
        <p class="text-muted">Enviamos instruções por e-mail para definir sua senha, se houver uma conta com o e-mail digitado. Você deve recebê-los em breve. </p>
        <p class="text-muted">Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam. </p>
    </div>
</div>
{% endblock content %}