{% extends 'base.html' %}
{% load static %}

{% block title %} Perfil Prédio {% endblock title %}

{% block head %}
    <!--This page css - Morris CSS -->
    <link href="{% static '/assets/plugins/morrisjs/morris.css' %}" rel="stylesheet">
    <!--alerts CSS -->
    <link href="{% static '/assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/botoes.css' %}" rel="stylesheet">

{% endblock head %}


{% block content %}
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Perfil de Prédio</h3>
    </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-primary">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{ total_pessoas }}</h1>
                <h6 class="text-white">Pessoas</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-info">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ total_celulas }}</h1>
                <h6 class="text-white">Células</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-warning">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ total_lideranças }}</h1>
                <h6 class="text-white">Lideranças</h6>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-block">
                <center class="m-t-30">
                    {% if object.foto_perfil %}
                    <img src="{{ object.foto_perfil_url }}" class="img-circle" width="150" height="150" />
                    {% else %}
                    <img src="{% static 'img/perfil.png' %}" class="img-circle" width="150" />
                    {% endif %}
                    <h4 class="card-title m-t-10">{{ object.nome }}</h4>
                </center>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-block"> <small class="text-muted">Pastor </small>
                <h6>{{ object.pastor }}</h6> <small class="text-muted p-t-30 db">Telefone da igreja</small>
                <h6>{{ object.telefone }}</h6>

                <small class="text-muted p-t-30 db">Redes Sociais</small>
                <br />
                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
            </div>
        </div>
    </div>
    <!-- Column -->

    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>-->
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Dados
                        da Igreja</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="home" role="tabpanel">
                    <div class="card-block">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/1.jpg" alt="user"
                                        class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes
                                            ago</span>
                                        <p>assign a new task <a href="#"> Design weblayout</a></p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 m-b-20"><img
                                                    src="../assets/images/big/img1.jpg" class="img-responsive radius" />
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img
                                                    src="../assets/images/big/img2.jpg" class="img-responsive radius" />
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img
                                                    src="../assets/images/big/img3.jpg" class="img-responsive radius" />
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img
                                                    src="../assets/images/big/img4.jpg" class="img-responsive radius" />
                                            </div>
                                        </div>
                                        <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2
                                                comment</a> <a href="javascript:void(0)" class="link m-r-10"><i
                                                    class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/2.jpg" alt="user"
                                        class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div> <a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes
                                            ago</span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12"><img src="../assets/images/big/img1.jpg"
                                                    alt="user" class="img-responsive radius" /></div>
                                            <div class="col-md-9 col-xs-12">
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                                                    odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a
                                                    href="#" class="btn btn-success"> Design weblayout</a>
                                            </div>
                                        </div>
                                        <div class="like-comm m-t-20"> <a href="javascript:void(0)"
                                                class="link m-r-10">2 comment</a> <a href="javascript:void(0)"
                                                class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/3.jpg" alt="user"
                                        class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes
                                            ago</span>
                                        <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                                            Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                                            mauris. Fusce nec tellus sed augue semper </p>
                                    </div>
                                    <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2
                                            comment</a> <a href="javascript:void(0)" class="link m-r-10"><i
                                                class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/4.jpg" alt="user"
                                        class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes
                                            ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Código Igreja</strong>
                                <br>
                                <p class="text-muted">{{ object.id }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>CNPJ</strong>
                                <br>
                                <p class="text-muted">{{ object.num_cnpj }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Tipo igreja</strong>
                                <br>
                                <p class="text-muted">{{ object.get_tipo_igreja_display }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Situação</strong>
                                <br>
                                {% if object.situacao == 'A' %}
                                <div class="label label-table label-success">{{ object.get_situacao_display }}</div>
                                {% else %}
                                <div class="label label-table label-danger">{{ object.get_situacao_display }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Data de Abertura</strong>
                                <br>
                                <p class="text-muted">{{ object.formata_data_multiplicacao }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Idade</strong>
                                <br>
                                <p class="text-muted">{{ object.idade }} anos</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>E-mail</strong>
                                <br>
                                <p class="text-muted">{{ object.email }}</p>
                            </div>
                        </div>

                        <hr>

                        <h3 class="box-title">Endereço</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Endereço:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static "> {{ object.rua }}, {{ object.numero }},
                                            {{ object.bairro }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Complemento:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static "> {{ object.complemento }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Cidade:</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static"> {{ object.cidade }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Estado:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{ object.uf }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">CEP:</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static"> {{ object.cep }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">País:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{ object.pais }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-block">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Johnathan Doe"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com"
                                        class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone No</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="123 456 7890"
                                        class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Message</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Crescimento da Igreja</h4>
                <div id="morris-line-chart"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Por tipo de pessoa</h4>
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Mapa</h4>
                <div id="gmaps-simple" class="gmaps"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <nav class="container-botao">
  
        <a class="btn buttons-botao btn-danger remove" tooltip="Excluir Prédio" 
            data-id="{{ object.id }}" data-nome="{{ object.nome }}">
            <i class="fa fa-times my-float"></i>
        </a>
        
        <a href="{% url 'predio-update' object.id %}" class="buttons-botao btn-warning" tooltip="Editar Prédio"><i class="fa fa-pencil my-float"></i></a>
        
        <a href="{% url 'predio-create' %}" class="buttons-botao btn-success" tooltip="Add Prédio"><i class="fa fa-plus my-float"></i></a>
    
        <a class="buttons-botao btn-primary"><i class="fa fa-list my-float"></i></a>
    
      </nav>
</div>

{% block static %}

<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVFn3_PX9ZXlp4Xxm7Fpj6KdBkCruc7YE&callback=inicializar"></script>
<!-- google maps api -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{% static '/assets/plugins/gmaps/gmaps.min.js' %}"></script>
<script src="{% static '/assets/plugins/gmaps/jquery.gmaps.js' %}"></script>
<!--Morris JavaScript -->
<script src="{% static '/assets/plugins/raphael/raphael-min.js' %}"></script>
<script src="{% static '/assets/plugins/morrisjs/morris.js' %}"></script>
<!-- Sweet-Alert  -->
<script src="{% static '/assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

<script>
    var latitude = JSON.parse('{{ object.geocoding.lat|safe }}');
    var longitude = JSON.parse('{{ object.geocoding.lng|safe }}');

    $(document).ready(function () {
        map = new GMaps({
            el: '#gmaps-simple',
            lat: latitude,
            lng: longitude,
            //zoom : 15,

        });
        map.addMarker({
            lat: latitude,
            lng: longitude,
            title: 'Marker with InfoWindow',
            infoWindow: {
                content: '<p>{{ object.nome }}</p>'
            }
        });
    });
</script>

<script>
    // Morris donut chart

    Morris.Donut({
        element: 'morris-donut-chart'
        , data: [
            {% for i in qtde_tipo_pessoa %}
                {
            label: '{{ i.tipo_pessoa }}'
            , value: '{{ i.qtdepessoas }}'
        }
            {% if not forloop.last %}, {% endif %}
    {% endfor %}
        ]
        , resize: true
        , colors: ['#009efb', '#55ce63', '#2f3d4a']
    });

</script>

<script>
    // LINE CHART
    var line = new Morris.Line({
        element: 'morris-line-chart'
        , resize: true
        , data: [
            {% for item in crescimento_pessoas %}
                { y: '{{ item.created__month }}', a: '{{ item.qtdepessoas }}' }{% if not forloop.last %}, {% endif %}
    {% endfor %}
        ]
        , xkey: 'y'
        , ykeys: ['a']
            , labels: ['Total']
                , gridLineColor: '#eef0f2'
                    , lineColors: ['#009efb']
                        , lineWidth: 1
                            , hideHover: 'auto'
    });
</script>

<script>
    // Morris bar chart
    Morris.Bar({
        element: 'morris-bar-chart'
        , data: [
            {% for i in predio_pessoas %}
                {
            y: '{{ i.predio__nome }}'
            , a: '{{ i.visitante }}'
            , b: '{{ i.frequentador }}'
            , c: '{{ i.membro }}'
        }{% if not forloop.last %}, {% endif %}
    {% endfor %}
        ]
        , xkey: 'y'
        , ykeys: ['a', 'b', 'c']
            , labels: ['Visitantes', 'Frequentadores', 'Membros']
                , barColors: ['#009efb', '#55ce63', '#2f3d4a']
                    , hideHover: 'auto'
                        , gridLineColor: '#eef0f2'
                            , resize: true
    });
</script>

<script> 
    $('.remove').click(function() {
    var id = $(this).data("id");
    var nome = $(this).data("nome");
    deleteMember(id, nome);
  });

  function deleteMember(id, nome) {
    swal({
      title: "Você tem certeza?", 
      text: "Você não poderá mais recuperar o cadastro de " + nome, 
      type: "warning",
      showCancelButton: true,
      showLoaderOnConfirm: true,
      closeOnConfirm: false,
      confirmButtonText: "Sim, apagar",
      confirmButtonColor: "#f62d51",
      cancelButtonText: "Cancelar"
    }, function() {
      $.ajax({
        url: '/predios/delete/' + id,
        type: "POST"
      })
      .done(function(data) {
        swal({
            title: "Apagado!", 
            text: "O cadastro de " + nome + " foi apagado!", 
            type: "success"
        },function() {
            location.href = "/predios/list/";
        });
      })
      .fail(function(xhr, ajaxOptions, thrownError) {
        swal("Oops", "Alguma coisa deu errada. Tente novamente!", "error");
      });
    });
  }
</script>

{% endblock static %}


{% endblock content %}