{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n static %}


{% block title %} Formulário Prédios {% endblock title %}


{% block head %}

<!-- Date picker plugins css -->
<link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
    type="text/css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
.errorlist
    {
        list-style: none;
        color: red;
        margin: 0px;
        padding: 0px;
        font-weight: bolder;
    }
</style>

{% endblock head %}


{% block content %}

{% if form.errors and not form.non_field_errors %}
<div class="row">
    <div class="col-md-12 col-12 align-self-center">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                    aria-hidden="true">&times;</span> </button>
            <h3 class="text-danger"><i class="fa fa-times-rectangle"></i> Erro</h3>
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Formulário de Prédio</h4>
                <h6 class="card-subtitle">Formulário para cadastro de prédios.</h6>
                <form method="POST" class="form-material m-t-40" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <h2 class="card-title">Informações do Prédio</h2>
                    <hr>
                    </br>
                    <div class="form-group">
                        <label for="{{ form.num_cnpj.id_for_label }}">Número CNPJ</label>
                        {% render_field form.num_cnpj type="text" class="cnpj form-control form-control-line" %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.nome.id_for_label }}"><strong>Nome</strong></label>
                        {% render_field form.nome type="text" class="form-control form-control-line" %}
                        {{ form.nome.errors }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ form.tipo_igreja.id_for_label }}"><strong>Tipo Igreja</strong></label>
                            {% render_field form.tipo_igreja class="form-control" %}  
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.data_abertura.id_for_label }}">Data de abertura</label>
                                <div class="input-group">
                                    {% render_field form.data_abertura class="form-control mydatepicker" %}
                                    <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.telefone.id_for_label }}">Telefone </label>
                                {% render_field form.telefone type="text" class="telefone form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">E-mail </label>
                                {% render_field form.email type="email" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.pastor.id_for_label }}">Pastor</label>
                        <input id="id_pastor" type="text" class="hide" name="pastor"/>
                        <input id="pastor_autocomplete" type="text" class="form-control"/>
                        {{ form.pastor.errors }}
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.situacao.id_for_label }}">Situação</label>
                            {% render_field form.situacao type="text" class="form-control" %}
                        </div>
                        </div>
                    </div>
                    
                    </br>
                    <h2 class="card-title">Endereço</h2>
                    <hr>
                    </br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cep.id_for_label }}">CEP</label>
                                {% render_field form.cep type="text" id="cep" onblur="pesquisacep(this.value)" class="cep form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.rua.id_for_label }}">Rua</label>
                                {% render_field form.rua type="text" id="rua" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.numero.id_for_label }}">Número</label>
                                {% render_field form.numero type="number" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.complemento.id_for_label }}">Complemento</label>
                                {% render_field form.complemento type="text" id="complemento" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.bairro.id_for_label }}">Bairro</label>
                                {% render_field form.bairro type="text" id="bairro" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cidade.id_for_label }}">Cidade</label>
                                {% render_field form.cidade type="text" id="cidade" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.uf.id_for_label }}">UF</label>
                                {% render_field form.uf type="text" id="uf" size="2" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.pais.id_for_label }}">País</label>
                                {% render_field form.pais type="text" class="form-control form-control-line" value="Brasil" %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                        <button type="button" class="btn btn-inverse" onclick="window.history.back();">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% block static %}
<!-- ============================================================== -->
<!-- Plugins for this page -->
<!-- ============================================================== -->
<script src="{% static 'js/jasny-bootstrap.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script src="{% static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pesquisacep.js' %}"></script>

<script type="text/javascript">
    $('.cnpj').mask('00.000.000/0000-00');
    $('.telefone').mask('(00) 0000-0000');
    $('.celular').mask('(00) 0 0000-0000');
    $('.dinheiro').mask('#.##0,00', { reverse: true });
    $('.estado').mask('AA');
    $('.cep').mask('00000-000');
</script>

<script>
    jQuery('.mydatepicker, #datepicker').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
    });
</script>

<script type="text/javascript">
    var pessoas = "{% url 'pessoa-autocomplete' %}";
  
    $("#pastor_autocomplete").autocomplete({
      minLength: 2,
      delay: 100,
      autoFocus: true,
      source: pessoas,
      select: function(event, ui) {
        $('#id_pastor').val(ui.item.id);
      },
    });
  </script>

{% endblock static %}


{% endblock content %}
