{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n static %}


{% block title %} Formulário Pessoas {% endblock title %}


{% block head %}

<!-- Date picker plugins css -->
<link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/multi-select.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/switchery.min.css' %}" rel="stylesheet" />

<style>
.errorlist
    {
        list-style: none;
        color: red;
        margin: 0px;
        padding: 0px;
        font-weight: bolder;
    }
</style>

{% endblock head %}


{% block content %}

<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Formulário de Pessoa</h3>
    </div>
</div>

{% if form.errors and not form.non_field_errors %}
<div class="row">
    <div class="col-md-12 col-12 align-self-center">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                    aria-hidden="true">&times;</span> </button>
            <h3 class="text-danger"><i class="fa fa-times-rectangle"></i> Erro</h3>
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    </div>
</div>
{% endif %}

<form method="POST" class="form" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">Informações Pessoais</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.num_cpf.id_for_label }}"><strong>Número CPF</strong></label>
                                {% render_field form.num_cpf|append_attr:"readonly:readonly" type="text" value=result_cpf.0.NUM_CPF class="cpf form-control" %}
                                {{ form.num_cpf.errors }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.nome.id_for_label }}"><strong>Nome</strong></label>
                                {% render_field form.nome style="text-transform: uppercase;" type="text" value=result_cpf.0.NOME class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.ativo.id_for_label }}"><strong>Situação</strong></label>
                                <br>
                                {% render_field form.ativo type="checkbox" class="js-switch" data-color="#55ce63" data-secondary-color="#f62d51" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.sexo.id_for_label }}"><strong>Sexo</strong></label>
                                <select name="sexo" id="id_sexo" class="form-control selectpicker" data-style="form-control btn-secondary" required>
                                    {% if result_cpf.0.IND_SEXO %}
                                        {% if result_cpf.0.IND_SEXO == 'M' %}
                                        <option value="{{ result_cpf.0.IND_SEXO }}" selected>Masculino</option>
                                        <option value="F">Feminino</option>
                                        {% endif %}
    
                                        {% if result_cpf.0.IND_SEXO == 'F' %}
                                        <option value="{{ result_cpf.0.IND_SEXO }}" selected>Feminino</option>
                                        <option value="M">Masculino</option>
                                        {% endif %}
    
                                    {% else %}
                                    <option value="" selected>---------</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                    {% endif %}                            
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.data_nascimento.id_for_label }}"><strong>Data de nascimento</strong></label>
                                <div class="input-group" >
                                    {% render_field form.data_nascimento value=result_cpf.0.DATA_NASCIMENTO class="mydatepicker form-control" %}
                                    <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">E-mail </label>
                                {% render_field form.email type="email" class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.telefone.id_for_label }}">Telefone </label>
                                {% render_field form.telefone type="text" class="telefone form-control" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.celular.id_for_label }}">Celular </label>
                                {% render_field form.celular type="text" class="celular form-control" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.foto_perfil.id_for_label }}">Foto do Perfil</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"> <i
                                            class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                            class="fileinput-filename"></span></div> <span
                                        class="input-group-addon btn btn-default btn-file"> <span
                                            class="fileinput-new">Selecionar arquivo</span> <span
                                            class="fileinput-exists">Alterar</span>
                                        {% render_field form.foto_perfil type="file" name="..." %} </span> <a href="#"
                                        class="input-group-addon btn btn-default fileinput-exists"
                                        data-dismiss="fileinput">Remover</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">Endereço</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cep.id_for_label }}">CEP</label>
                                {% render_field form.cep type="text" value=result_cpf.0.NUM_CEP id="cep" onblur="pesquisacep(this.value)" class="cep form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.rua.id_for_label }}">Rua</label>
                                {% render_field form.rua type="text" value=result_cpf.0.DESCR_LOGRADOURO id="rua" class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.numero.id_for_label }}">Número</label>
                                {% render_field form.numero value=result_cpf.0.NUM_LOGRADOURO type="number" class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.complemento.id_for_label }}">Complemento</label>
                                {% render_field form.complemento type="text" value=result_cpf.0.DESCR_COMPLEMENTO_LOGRADOURO id="complemento" class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.bairro.id_for_label }}">Bairro</label>
                                {% render_field form.bairro type="text" value=result_cpf.0.NOME_BAIRRO id="bairro" class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cidade.id_for_label }}">Cidade</label>
                                {% render_field form.cidade type="text" value=result_cpf.0.NOME_MUNICIPIO id="cidade" class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.uf.id_for_label }}">UF</label>
                                {% render_field form.uf type="text" value=result_cpf.0.SIGLA_UF id="uf" size="2" class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.pais.id_for_label }}">País</label>
                                {% render_field form.pais type="text" class="form-control" value="Brasil" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">Informações Eclesiásticas</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.predio.id_for_label }}"><strong>Igreja Local</strong></label>
                                {% render_field form.predio class="selectpicker form-control" data-style="form-control btn-secondary" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.tipo_pessoa.id_for_label }}"><strong>Tipo Pessoa</strong></label>
                                {% render_field form.tipo_pessoa class="selectpicker form-control" data-style="form-control btn-secondary" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="{{ form.funcao_liderancao.id_for_label }}">Função Liderança</label>
                                {% render_field form.funcao_lideranca class="selectpicker form-control" data-style="form-control btn-secondary" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                    <button type="button" class="btn btn-inverse" onclick="window.history.back();">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% block static %}
<!-- ============================================================== -->
<!-- Plugins for this page -->
<!-- ============================================================== -->
<script src="{% static 'js/jasny-bootstrap.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script src="{% static 'js/pesquisacep.js' %}"></script>

<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script src="{% static 'js/jquery.multi-select.js' %}"></script>
<script src="{% static 'js/switchery.min.js' %}"></script>
<script src="{% static 'js/jQuery.style.switcher.js' %}"></script>

<script>
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    });
</script>

<script type="text/javascript">
    $('.cpf').mask('000.000.000-00');
    $('.telefone').mask('(00) 0000-0000');
    $('.celular').mask('(00) 0 0000-0000');
    $('.dinheiro').mask('#.##0,00', { reverse: true });
    $('.estado').mask('AA');
    $('.cep').mask('00000-000');
</script>

<script>
    jQuery('.mydatepicker, #datepicker').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
        language: 'pt-BR',
    });
</script>


{% endblock static %}


{% endblock content %}
