{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Buscar CPF {% endblock title %}


{% block header %}
 
{% endblock header %}
    

{% block content %}

<div class="login-box card">
    <div class="card-block">

        <form class="form-horizontal" action="{% url 'pessoa-new' %}">
            <h3 class="box-title m-b-20">Para cadastrar uma pessoa</h3>
            <p class="text-muted">Digite um CPF válido para prosseguir... </p>
            <div class="form-group">
                <div class="controls">
                    <input type="text" name="search-cpf" class="cpf form-control" required data-validation-required-message="Esse campo é obrigatório" maxlength="14"> </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="location.reload()">Próximo</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% block static %}

    <script src="{% static 'js/validation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>

    <script>
        ! function(window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(), $(".skin-square input").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green"
            }), $(".touchspin").TouchSpin(), $(".switchBootstrap").bootstrapSwitch();
        }(window, document, jQuery);
    </script>

<script type="text/javascript">
    $('.cpf').mask('000.000.000-00');
</script>

{% endblock static %}
    

{% endblock content %}


  