<form class="form-horizontal m-t-10">
    <div class="form-group">
        <input type="search" class="form-control" placeholder="Nome" name="nome_contains">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select class="custom-select col-12" name="sexo_exact">
                    <option value="" disabled selected>Sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>  
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="custom-select col-12" name="tipo_exact">
                    <option value="" disabled selected>Tipo Pessoa</option>
                    <option value="V">Visitante</option>
                    <option value="F">Frequentador</option>
                    <option value="M">Membro</option>  
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select class="custom-select col-12" name="predio_exact">
                    <option value="" disabled selected>Prédio</option>

                    {% for p in predios  %}
                        
                        <option value="{{ p.predio__id }}">{{ p.predio__nome }}</option>

                    {% endfor %}
                        
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="checkbox" class="js-switch" data-color="#f62d51" data-secondary-color="#55ce63" 
                name='inativo'>
                <span class="custom-control-description"> Situação</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info waves-effect waves-light m-t-10"><i class="fa fa-search"></i> Buscar</button>
    <button type="button" class="btn btn-inverse waves-effect waves-light m-t-10" onclick="window.location.href='../list'">Limpar Filtro</button>
</form>
    