{% extends 'base.html' %}
{% load static %}

{% block title %} Perfil Célula {% endblock title %}

{% block head %}
    <!--This page css - Morris CSS -->
    <link href="{% static 'assets/plugins/morrisjs/morris.css' %}" rel="stylesheet">
    <!--alerts CSS -->
    <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/botoes.css' %}" rel="stylesheet">

{% endblock head %}


{% block content %}
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Perfil da Célula</h3>
        <h1 class="text-themecolor m-b-0 m-t-0">{{ object.nome }}</h3>
    </div>
</div>


<div class="row">

<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Liderança da Célula</h4>
                <div class="message-box">
                    <div class="message-widget">
                        <a href="{% url 'pessoa-perfil' object.lider.id %}">
                            <div class="user-img"> 
                                {% if object.lider.foto_perfil_url %}
                                <img src="{{ object.lider.foto_perfil_url }}" alt="user" width="40" height="40"
                                    class="img-circle" />
                                {% else %}
                                <img src="{% static 'img/perfil.png' %}" width="40" class="img-circle" />
                            {% endif %}
                            </div>
                            <div class="mail-contnet">
                                <h5>{{ object.lider }}</h5> 
                                <span class="mail-desc">{{ object.lider.funcao_lideranca.descricao }}</div>
                        </a>
                        <a href="{% url 'pessoa-perfil' object.discipulador.id %}">
                            <div class="user-img"> 
                                {% if object.discipulador.foto_perfil_url %}
                                <img src="{{ object.discipulador.foto_perfil_url }}" alt="user" width="40" height="40"
                                    class="img-circle" />
                                {% else %}
                                <img src="{% static 'img/perfil.png' %}" width="40" class="img-circle" />
                            {% endif %}
                            </div>
                            <div class="mail-contnet">
                                <h5>{{ object.discipulador }}</h5> 
                                <span class="mail-desc">{{ object.discipulador.funcao_lideranca.descricao }}</div>
                        </a>
                        <a href="{% url 'pessoa-perfil' object.supervisor.id %}">
                            <div class="user-img"> 
                                {% if object.supervisor.foto_perfil_url %}
                                <img src="{{ object.supervisor.foto_perfil_url }}" alt="user" width="40" height="40"
                                    class="img-circle" />
                                {% else %}
                                <img src="{% static 'img/perfil.png' %}" width="40" class="img-circle" />
                            {% endif %}
                            </div>
                            <div class="mail-contnet">
                                <h5>{{ object.supervisor }}</h5> 
                                <span class="mail-desc">{{ object.supervisor.funcao_lideranca.descricao }}</span>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Column -->

    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Dados
                        da Célula</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#endereco" role="tab">Endereço</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Código Célula</strong>
                                <br>
                                <p class="text-muted">{{ object.id }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Dia da Semana</strong>
                                <br>
                                <p class="text-muted">{{ object.get_dia_semana_reuniao_display }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Hora da Reunião</strong>
                                <br>
                                <p class="text-muted">{{ object.hora_reuniao }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Situação</strong>
                                <br>
                                {% if object.ativo == True %}
                                <div class="label label-table label-success">Ativo</div>
                                {% else %}
                                <div class="label label-table label-danger">Inativo</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Tipo Célula</strong>
                                <br>
                                <p class="text-muted">{{ object.get_tipo_celula_display }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Prédio</strong>
                                <br>
                                <p class="text-muted">{{ object.predio.nome }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Data Abertura</strong>
                                <br>
                                <p class="text-muted">{{ object.formata_data_cadastro }}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane" id="endereco" role="tabpanel">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Endereço:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static "> {{ object.rua }}, {{ object.numero }},
                                            {{ object.bairro }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Complemento:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static "> {{ object.complemento }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Cidade:</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static"> {{ object.cidade }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Estado:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{ object.uf }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">CEP:</label>
                                    <div class="col-md-7">
                                        <p class="form-control-static"> {{ object.cep }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">País:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{ object.pais }} </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<!-- Row -->


<div class="row">
    <!-- Column -->
    <div class="col-lg-8">
        <div class="card" >
            <div class="card-block">
                <h4 class="card-title">Participantes da Célula - {{ object.participantes.all.count }} pessoas</h4>
                    <div class="message-box">
                        <div class="message-widget message-center">
                            
                            {% for p in object.participantes.all %}
                                                                
                            <a href="{% url 'pessoa-perfil' p.id %}">
                                <div class="user-img"> 
                                    {% if p.foto_perfil_url %}
                                    <img src="{{ p.foto_perfil_url }}" alt="user" width="40" height="40"
                                        class="img-circle" />
                                    {% else %}
                                    <img src="{% static 'img/perfil.png' %}" width="40" class="img-circle" />
                                {% endif %}
                                </div>
                                <div class="mail-contnet">
                                    <h5>{{ p.nome }}</h5>
                                    
                                    {% if p.funcao_lideranca %}

                                        <span class="mail-desc">{{ p.funcao_lideranca.descricao }}</span>
                                        
                                    {% else %}
                                    
                                        <span class="mail-desc">{{ p.get_tipo_pessoa_display }}</span>

                                    {% endif %}
                                        
                                </div>
                            </a>

                            {% endfor %}

                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Mapa</h4>
                <div id="gmaps-simple" class="gmaps"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <nav class="container-botao">
  
        <a class="btn buttons-botao btn-danger remove" tooltip="Excluir Célula" 
            data-id="{{ object.id }}" data-nome="{{ object.nome }}">
            <i class="fa fa-trash-o my-float"></i>
        </a>
        
        <a href="{% url 'celula-update' object.id %}" class="buttons-botao btn-warning" tooltip="Editar Célula"><i class="fa fa-pencil my-float"></i></a>
        
        <a href="{% url 'celula-create' %}" class="buttons-botao btn-success" tooltip="Add Célula"><i class="fa fa-plus my-float"></i></a>
    
        <a class="buttons-botao btn-primary"><i class="fa fa-list my-float"></i></a>
    
      </nav>
</div>

{% block static %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVFn3_PX9ZXlp4Xxm7Fpj6KdBkCruc7YE"></script>
<script src="{% static 'assets/plugins/gmaps/gmaps.min.js' %}"></script>
<script src="{% static 'assets/plugins/gmaps/jquery.gmaps.js' %}"></script>
<!--Morris JavaScript -->
<script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
<script src="{% static 'assets/plugins/morrisjs/morris.js' %}"></script>
<!-- Sweet-Alert  -->
<script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

<script>
    var latitude = JSON.parse('{{ object.geocoding.lat|safe }}');
    var longitude = JSON.parse('{{ object.geocoding.lng|safe }}');

    $(document).ready(function () {
        map = new GMaps({
            el: '#gmaps-simple',
            lat: latitude,
            lng: longitude,
            //zoom : 15,

        });
        map.addMarker({
            lat: latitude,
            lng: longitude,
            title: 'Marker with InfoWindow',
            infoWindow: {
                content: '<p>{{ object.nome }}</p>'
            }
        });
    });
</script>

<script> 
    $('.remove').click(function() {
    var id = $(this).data("id");
    var nome = $(this).data("nome");
    deleteMember(id, nome);
  });

  function deleteMember(id, nome) {
    swal({
      title: "Você tem certeza?", 
      text: "Você não poderá mais recuperar o cadastro de " + nome, 
      type: "warning",
      showCancelButton: true,
      showLoaderOnConfirm: true,
      closeOnConfirm: false,
      confirmButtonText: "Sim, apagar",
      confirmButtonColor: "#f62d51",
      cancelButtonText: "Cancelar"
    }, function() {
      $.ajax({
        url: '/grupos/delete/' + id,
        type: "POST"
      })
      .done(function(data) {
        swal({
            title: "Apagado!", 
            text: "O cadastro de " + nome + " foi apagado!", 
            type: "success"
        },function() {
            location.href = "/grupos/list/";
        });
      })
      .fail(function(xhr, ajaxOptions, thrownError) {
        swal("Oops", "Alguma coisa deu errada. Tente novamente!", "error");
      });
    });
  }
</script>

{% endblock static %}


{% endblock content %}