{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n static %}


{% block title %} Formulário Células {% endblock title %}


{% block head %}

    <!-- Page plugins css -->
    <link href="{% static 'js/clockpicker/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .errorlist {
        list-style: none;
        color: red;
        margin: 0px;
        padding: 0px;
        font-weight: bolder;
    }
</style>

{% endblock head %}


{% block content %}

{% if form.errors and not form.non_field_errors %}
<div class="row">
    <div class="col-md-12 col-12 align-self-center">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                    aria-hidden="true">&times;</span> </button>
            <h3 class="text-danger"><i class="fa fa-times-rectangle"></i> Erro</h3>
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Formulário de Células</h4>
                <h6 class="card-subtitle">Formulário para cadastro de células.</h6>
                <form method="POST" class="form-material m-t-40" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <h2 class="card-title">Informações da Célula</h2>
                    <hr>
                    </br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.nome.id_for_label }}"><strong>Nome da Célula</strong></label>
                                {% render_field form.nome type="text" class="form-control form-control-line" %}
                                {{ form.nome.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.tipo_celula.id_for_label }}"><strong>Tipo Célula</strong></label>
                                {% render_field form.tipo_celula class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.dia_semana_reuniao.id_for_label }}"><strong>Dia semana da
                                        Reunião</strong></label>
                                {% render_field form.dia_semana_reuniao class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.hora_reuniao.id_for_label }}"><strong>Horário da reunião</strong></label>
                                <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                    {% render_field form.hora_reuniao class="form-control" %}
                                    <span class="input-group-addon"> <span class="fa fa-clock-o"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.predio.id_for_label }}"><strong>Prédio</strong></label>
                        {% render_field form.predio class="form-control" %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.lider.id_for_label }}"><strong>Líder da Célula</strong></label>
                                <input id="id_lider" type="text" class="hide" name="lider"/>
                                <input id="lider_autocomplete" type="text" class="form-control"/>
                                {{ form.lider.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.discipulador.id_for_label }}"><strong>Discipulador</strong></label>
                                <input id="id_discipulador" type="text" class="hide" name="discipulador"/>
                                <input id="discipulador_autocomplete" type="text" class="form-control"/>
                                {{ form.discipulador.errors }}                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.supervisor.id_for_label }}"><strong>Supervisor</strong></label>
                                <input id="id_supervisor" type="text" class="hide" name="supervisor"/>
                                <input id="supervisor_autocomplete" type="text" class="form-control"/>
                                {{ form.supervisor.errors }}                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.situacao.id_for_label }}"><strong>Situação</strong></label>
                                {% render_field form.situacao type="text" class="form-control" %}
                            </div>
                        </div>
                    </div>

                    </br>
                    <h2 class="card-title">Endereço</h2>
                    <hr>
                    </br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cep.id_for_label }}">CEP</label>
                                {% render_field form.cep type="text" id="cep" onblur="pesquisacep(this.value)" class="cep form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.rua.id_for_label }}">Rua</label>
                                {% render_field form.rua type="text" id="rua" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.numero.id_for_label }}">Número</label>
                                {% render_field form.numero type="number" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.complemento.id_for_label }}">Complemento</label>
                                {% render_field form.complemento type="text" id="complemento" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.bairro.id_for_label }}">Bairro</label>
                                {% render_field form.bairro type="text" id="bairro" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.cidade.id_for_label }}">Cidade</label>
                                {% render_field form.cidade type="text" id="cidade" class="form-control form-control-line" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.uf.id_for_label }}">UF</label>
                                {% render_field form.uf type="text" id="uf" size="2" class="form-control form-control-line" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.pais.id_for_label }}">País</label>
                                {% render_field form.pais type="text" class="form-control form-control-line" value="Brasil" %}
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                        <button type="button" class="btn btn-inverse" onclick="window.history.back();">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% block static %}
<!-- ============================================================== -->
<!-- Plugins for this page -->
<!-- ============================================================== -->
<script src="{% static 'js/jasny-bootstrap.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script src="{% static 'js/pesquisacep.js' %}"></script>
<!-- Clock Plugin JavaScript -->
<script src="{% static 'js/clockpicker/jquery-clockpicker.min.js' %}"></script>

<script type="text/javascript">
    $('.estado').mask('AA');
    $('.cep').mask('00000-000');
</script>

<script>
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
</script>

<script type="text/javascript">
    var pessoas = "{% url 'pessoa-autocomplete' %}";
  
    $("#lider_autocomplete").autocomplete({
      minLength: 2,
      delay: 50,
      autoFocus: true,
      source: pessoas,
      select: function(event, ui) {
        $('#id_lider').val(ui.item.id);
      },
    });
    $("#discipulador_autocomplete").autocomplete({
      minLength: 2,
      delay: 50,
      autoFocus: true,
      source: pessoas,
      select: function(event, ui) {
        $('#id_discipulador').val(ui.item.id);
      },
    });
    $("#supervisor_autocomplete").autocomplete({
      minLength: 2,
      delay: 50,
      autoFocus: true,
      source: pessoas,
      select: function(event, ui) {
        $('#id_supervisor').val(ui.item.id);
      },
    });
  </script>

{% endblock static %}


{% endblock content %}