{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de Gerenciamento de Igrejas">
    <meta name="author" content="William Gomes">
    <title>iChurch | {% block title %} Home {% endblock title %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style-unminify.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/e1ab322909.js"></script>
    
    {% block head %}
        
    {% endblock head %}
        
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158316930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158316930-1');
</script>

</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <!-- Logo icon -->
                        <b class="light-logo">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <i class="wi wi-sunset"></i>
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="light-logo" >
                            iChurch
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-navicon"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-arrow-circle-o-left"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.pessoa.foto_perfil %}
                                <img src="{{ user.pessoa.foto_perfil_url }}" alt="user" class="profile-pic" /></a>
                                {% else %}
                                <img src="{% static 'img/perfil.png' %}" alt="user" class="profile-pic" />
                                {% endif %}
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img">
                                                {% if user.pessoa.foto_perfil %}
                                                <img src="{{ user.pessoa.foto_perfil_url }}" alt="user" class="img-circle" /> 
                                                {% else %}
                                                <img src="{% static 'img/perfil.png' %}" alt="user" class="img-circle" />
                                                {% endif %}
                                            </div>
                                            <div class="u-text">
                                                <h3>Olá, {{ user.first_name }}</h3>
                                                <h6>{{ user.pessoa.predio.nome }}</h6>
                                                <a href="{% url 'pessoa-perfil' user.pessoa.id %}" class="btn btn-rounded btn-danger btn-sm">Ver Perfil</a></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'pessoa-update' user.pessoa.id %}"><i class="fa fa-user-circle"></i> Editar Perfil</a></li>
                                    <!--<li><a href="#"><i class="ti-email"></i> Mensagens</a></li>-->
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'password_change' %}"><i class="fa fa-key"></i> Senha de acesso</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Sair</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">                        
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">archive</i>
                                <span class="hide-menu">Secretaria</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Pessoas</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="{% url 'pessoa-list' %}">Lista de Pessoas</a></li>
                                        <li><a href="{% url 'search-cpf' %}">Cadastrar nova Pessoa</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="#" aria-expanded="false">Prédios</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="{% url 'predio-list' %}">Lista de Prédios</a></li>
                                        <li><a href="{% url 'predio-create' %}">Cadastrar novo Prédio</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">supervised_user_circle</i>
                                <span class="hide-menu">Grupos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="has-arrow " href="#" aria-expanded="false">Células</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="{% url 'celula-list' %}">Lista de Células</a></li>
                                <li><a href="{% url 'celula-create' %}">Cadastrar nova Célula</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            
                
                {% block content %}
                    
                {% endblock content %}
                    

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2020 iChurch Team <br>
                Gestão de Igrejas
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script type="text/javascript" src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script type="text/javascript" src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script type="text/javascript" src="{% static 'js/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript" src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
    
    {% block static %}
        
    {% endblock static %}
        
</body>

</html>
